.light-coloured-section {
  background-color: #F5E8C7;
}

.dark-coloured-section {
  background-color: #DEBA9D;
}

.desc {
  line-height: 1.8em;
}

.about-container {
  height: 300px;
}

.wave {
  position: absolute;
  bottom: 125px;
  z-index: 1;
}

.mission-container {
  position: relative;
  z-index: 2;
}

.header-img {
  position:relative;
  z-index: 2;
}

.box {
  padding: 5%;
}

.box-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.icon {
  color: #9E7777;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #F5E8C7;
}

@media only screen and (max-width: 768px) {
  .wave {
    bottom: 75px;
  }

  .about-container {
    height: 420px;
  }

  .header-img {
    display: none;
  }

  #mission-container {
    bottom: 80px;
  }
}