.desc {
  line-height: 1.8em;
}

.wave {
  position: relative;
  bottom: 120px;
  z-index: 0;
}

#mission-container {
  position: relative;
  bottom: 220px;
  display: block;
}

.light-coloured-section {
  background-color: #F5E8C7;
  z-index: -1;
}

.dark-coloured-section {
  background-color: #DEBA9D;
}

.box {
  padding: 5%;
}

.box-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.icon {
  color: #9E7777;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #F5E8C7;
}

.header-img {
  z-index:2;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .wave {
    bottom: 30px;
  }

  .header-img {
    display: none;
  }

  #mission-container {
    bottom: 40px;
  }
}