.bimg {
    background-image: linear-gradient(#F5E8C7, #DEBA9D);
}

.bwhite {
    background-color: white;
    border-radius: 25px;
}

.button1 {
    margin-bottom: 20px;
}

h2{
    padding-top: 20px;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}

#imageUpload{
    margin-top: 20px;
}

<<<<<<< HEAD
.btn-sub {
    text-align: center;
    background-size: 200% auto;
    border-radius: 5px;
    background-color: #F5E8C7;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.form-container {
    padding-left: 30px;
    max-width: 500px;
    border: black solid 1px;
    border-radius: 20px;
    background-image: linear-gradient(#F5E8C7, #DEBA9D);
}

.full-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    color : black;
    z-index: 3;
}

.hidden {
    display: none;
}

.symbol {
    justify-content: center;
=======
.padding {
    padding-top: 40px;
    padding-bottom: 40px;
>>>>>>> 025adf54fcaad16237125fee5c8b946b109d38ff
}