.bimg {
    background-image: linear-gradient(#F5E8C7, #DEBA9D);
}

.bwhite {
    background-color: white;
    border-radius: 25px;
}

.button1 {
    margin-bottom: 20px;
}

h2{
    padding-top: 20px;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}

#imageUpload{
    margin-top: 20px;
}

.padding {
    padding-top: 40px;
    padding-bottom: 40px;
}