.margin-top {
  margin-top:41px;
}

#footer {
  background-color: #DEBA9D;
}

.nav-link:hover {
  cursor: pointer
}

@media only screen and (max-width: 768px) {
  .footer-img {
    display: none;
  }
}