img {
  height: 180px;
  width: 180px;
  margin: 15px 0 10px 10px;
  float: left;
}

.product_label{
  float: left;
}

.header {
  margin-left: 10px;
}

.header_text {
  margin-top: 10px;
}

.text_margin, .buttons {
  margin-top: 60px;
  margin-bottom: 50px;
}

.text_design {
  font-weight: 300;
  font-size: 18px;
}

.header_row, .first_row, .footer_row, .bgcolor{
  background-color: #ffffff;
  border:1px solid #e8e8e8;
}

.whole_page {
  background-color: #FFEFDE;
  min-height: 500px;
  margin: 0px;
}

.padding {
  padding-top:150px;
}