.btn-1 {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border: 1px solid transparent;
  border-radius: 5px;
  background-image: linear-gradient(to right, #DEBA9D 0%, #eec784 51%, #f0e3d0 100%);
}

.btn-1:hover, .btn-2:hover {
  background-position: right center;
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.btn-2 {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border: 1px solid transparent;
  border-radius: 5px;
  background-image: linear-gradient(to right, #F5E8C7 0%, #e7d1a9 51%, #fdebc7 100%);
}

.caption {
  display: none;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .caption {
  display: initial;
}

.img-thumbnail:hover {
  cursor: pointer;
  opacity: 0.4;
}

.light-coloured-section {
  background-color: #F5E8C7;
}

.dark-coloured-section {
  background-color: #DEBA9D;
}

.desc {
  line-height: 1.8em;
}

.about-container {
  height: 300px;
}

.wave {
  position: absolute;
  bottom: 125px;
  z-index: 1;
}

.mission-container {
  position: relative;
  z-index: 2;
}

.header-img {
  position:relative;
  z-index: 2;
}

.box {
  padding: 5%;
}

.box-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.icon {
  color: #9E7777;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #F5E8C7;
}

@media only screen and (max-width: 768px) {
  .wave {
    bottom: 75px;
  }

  .about-container {
    height: 420px;
  }

  .header-img {
    display: none;
  }

  .wave {
    display: none;
  }

  #mission-container {
    bottom: 80px;
  }
}