.form-signup {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 15px 15px;
  background-image: linear-gradient(#F5E8C7, #DEBA9D);
  border-radius: 25px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signup .form-control:focus {
  z-index: 2;
  border-color: none;
}

.form-signup input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signup-btn {
  text-align: center;
  background-size: 200% auto;
  border-radius: 5px;
  background-color: #F5E8C7;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.signup-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: none;
}

p > a:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: none;
}

.msg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

  max-width: 350px;
  padding: 5px;
  background: #F9F9F9;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s linear 0.5s;
}

.msg-visible{
  top: 20px !important;
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.msg-error{
  background: #F44336;
  border-color: #ba000b;
  color: white;
}

.msg-success{
  background: #4CAF50;
  border-color: #2e7d32;
  color: white;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}