@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
font-family: 'Open Sans', sans-serif;
}


.section {
margin-bottom: 15px;
width:100%;
float:left;
}

.label {
float: left;
margin-right: 10px;
}

.field {
float: left;
width:100%;
}

/* Box Style */
* {
box-sizing: border-box;
}

/* Add padding to containers */
#container {
padding: 16px;
background-color: white;
width:800px;
margin:0 auto;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=date], input[type=email], input[type=tel], textarea, select {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
font-size:15pt;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

input[type='radio'] {
transform: scale(2);
}

/* Overwrite default styles of hr */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn {
background-color: #555555;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 49%;
opacity: 0.9;
display: inline;
}

.btn:hover {
opacity: 1;
}

.button {
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:7px;
}

.button:hover {
    background-color: white;
}

#customer {
  border-collapse: collapse;
  width: 100%;
}

#customer td, #customer th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customer tr:nth-child(even){background-color: #f2f2f2;}

#customer tr:hover {background-color: #ddd;}

#customer th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #48b1bd;
  color: white;
}

.parentbox {
  display: flex;
  flex-wrap: wrap;
}

.childbox {
  /*
  flex: flex-grow flex-shrink flex-basis;
  flex-grow 	A number specifying how much the item will grow relative to the rest of the flexible items
  flex-shrink 	A number specifying how much the item will shrink relative to the rest of the flexible items
  flex-basis 	The length of the item. Legal values: "auto", "inherit", or a number followed by "%", "px", "em" or any other length unit
  */
  flex: 0 0 350px;
  margin: 10px;
  height: 450px;
  background-color: #d9f9ff;
  border-radius: 10px;
  border: #d4d4d4 solid 2px;
  padding: 10px;
}


a:link.edit, a:visited.edit, a:link.delete, a:visited.delete {
    font-size: 10pt;
    color:#464646;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

a:hover.edit, a:active.edit {
    background-color: #808080;
    color:white;
}

a.edit {
    background-color: #d1d1d1;
}

a:hover.delete, a:active.delete {
    background-color: red;
    color: white;
}

a.delete {
    background-color:#ffaeae;

}